---
# Playbook para configurar o Servidor de Aplicação (app).
- name: Configurar Servidor de Aplicação (app).
  hosts: app
  become: yes  # Elevar privilégios para root.

  # Variáveis específicas do playbook:
  vars:
    mount_point: /var/nfs                    # Diretório local onde o NFS será montado.
    remote_share: 192.168.56.126:/dados/nfs  # Caminho do compartilhamento NFS no servidor arq.
    usuarios:
      - pedro
      - felipe
  tasks:
    # Instala o servidor web Apache2.
    - name: Instalar servidor web apache2.
      apt:
        name: apache2
        update_cache: yes
        state: present

    # Garante que o serviço Apache está rodando e habilitado no boot.
    - name: Garantir que apache2 está rodando.
      service:
        name: apache2
        state: started
        enabled: yes

    # Cria e copia o arquivo index.html personalizado para o diretório web.
    - name: Criar arquivo index.html personalizado.
      copy:
        src: pedro.felipe.html
        dest: "/var/www/html/index.html"
        owner: www-data
        group: www-data
        mode: 0644
      notify: restart apache2  # Reinicia Apache se o arquivo for modificado.

    # Instala o autofs e o cliente NFS para montagem automática.
    - name: Instalar autofs e cliente NFS.
      apt:
        name: 
          - autofs
          - nfs-common
        state: present

    # Cria o diretório local para montagem do NFS.
    - name: Criar diretório de montagem /var/nfs.
      file:
        path: "{{ mount_point }}"
        state: directory
        owner: root
        group: root
        mode: "0755"

    # Adiciona entrada no auto.master para o ponto de montagem.
    - name: Configurar auto.master para NFS.
      blockinfile:
        path: /etc/auto.master
        block: |
          {{ mount_point }} /etc/auto.nfs --ghost

    # Cria arquivo auto.nfs com parâmetros de montagem do compartilhamento.
    - name: Configurar arquivo auto.nfs.
      copy:
        dest: /etc/auto.nfs
        content: |
          - -rw,soft,intr {{ remote_share }}
      notify: restart autofs  # Reinicia autofs se o arquivo for modificado.


    # Criar diretório keys para armazenar as chaves na Máquina Real.
    - name: Criar diretório local para armazenar chaves deste host
      delegate_to: localhost
      run_once: false
      file:
        path: "../keys/{{ inventory_hostname }}"
        state: directory
        mode: '0700'
      become: no

    # Copiar as chaves privadas para o diretório keys.
    - name: Buscar chave privada dos usuários deste host para a máquina real
      fetch:
        src: "/home/{{ item }}/.ssh/id_rsa"
        dest: "../keys/{{ inventory_hostname }}/{{ item }}_id_rsa"
        flat: yes
        mode: '0600'
      loop: "{{ usuarios }}"
      become: yes

    # Atribuir permissão para a utilização das chaves privadas.
    - name: Garantir permissão 600 nas chaves privadas baixadas
      delegate_to: localhost
      become: no
      command: chmod 600 "../keys/{{ inventory_hostname }}/{{ item }}_id_rsa"
      loop: "{{ usuarios }}"
      ignore_errors: no


  # Handlers para reiniciar serviços quando notificados:
  handlers:
    # Reinicia o Apache.
    - name: restart apache2
      systemd:
        name: apache2
        state: restarted

    # Reinicia o serviço autofs.
    - name: restart autofs
      systemd:
        name: autofs
        state: restarted

